name: Publish Docker image
on:
  push:
    branches:
      - master
jobs:

  build:
    name: build and publish
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        arch: [linux/amd64, linux/arm6]
    steps:
      - uses: actions/checkout@master

      - name: Set up Docker Buildx
        id: buildx
        uses: crazy-max/ghaction-docker-buildx@v1
        with:
          version: latest

      - name: Login DockerHub
        run: |
          echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
      - name: Build and Publish
        run: |
          docker buildx build \
            --push \
            --platform  ${{matrix.arch}}\
            -t ${{ github.repository }}:latest .
